{% load static %}
{% load idgo_lme_majic_tags %}
<script src="{% static 'libs/turf/turf.min.js' %}"></script>
<script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}"/>
<div id="map" style="width: 100%; height: 400px; margin: 5px 0 20px 0;"></div>
<script>
  var layers = [];
  var baseMaps = {};
  {% if basemaps %}
    {% if basemaps|length > 1 %}
      {% for basemap in basemaps %}
  baseMaps['{{ basemap.name }}'] = L.tileLayer('{{ basemap.url }}', {{ basemap.options|safe }});
      {% endfor %}
    {% else %}
  baseMaps['{{ basemaps.0.name}}'] = L.tileLayer('{{ basemaps.0.url }}', {{ basemaps.0.options|safe }});
    {% endif %}
  {% else %}
  baseMaps['CartoDB'] = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {});
  {% endif %}

  for (var defaultBaseMap in baseMaps) {
    layers.push(baseMaps[defaultBaseMap]);
    break;
  };

  const getPointOnSurface = function(feature) {
    const ft = turf.pointOnSurface(feature);
    return L.point(ft.geometry.coordinates[1], ft.geometry.coordinates[0]);
  };


  function getMap(organisation_pk) {

    params= {
      'organisation': organisation_pk,
    }
    axios({
      method: 'get',
      url: 'geojson',
      params: params,
      headers: {'Content-Type': 'multipart/form-data' }
      })
      .then(function (response) {
        set_feature(response.data)
      })
      .catch(function (response) {
          //handle error
          console.log('erreur', response);
          msg_error = `<li>Une erreur s'est produit lors de la recuperation de la carte.</li>`;
          show_msg_error(msg_error)
      });
  }


  function set_feature(FeatureCollection){
    // let FeatureCollection = {{ organisations.0.jurisdiction.get_communes_as_feature_collection_geojson|safe }}
    const communesLayers = L.geoJSON(FeatureCollection, {
      style: {
        className: 'geojsonFeature',
        color: '#2e97ef',
        fillColor: '#2e97ef',
        stroke: true,
        opacity: 1,
        fillOpacity: 0.123,
        weight: 1.5,
        lineCap: 'butt',
        lineJoin: 'round'
      },
      onEachFeature: function(feature, layer) {
        layer.on({
          mouseover : function(e) {
            const layer = e.target;
            const ft = turf.pointOnSurface(layer.feature);
            const point = L.point(ft.geometry.coordinates[1], ft.geometry.coordinates[0]);
            const content = layer.feature.properties.name + ' (' + layer.feature.properties.code + ')';
            L.popup().setLatLng(L.latLng(point.x, point.y)).setContent(content).openOn(map);
          },
          mouseout : function(e) {
            const layer = e.target;
            map.closePopup();
          }
        });
      }
    });
    layers.push(communesLayers);
    
    // map.addLayer(layers).fitBounds(communesLayers.getBounds());
    
    map = L
      .map('map', {
        'layers': layers
      })
      .fitBounds(communesLayers.getBounds())
  }

  $(document).ready(function() {
    let organisation_pk = 0;
    let organisation = document.getElementById('0-organisation-input');
    if(organisation != null){
      organisation_pk = organisation.value
    }else{
      let downloadForm = document.getElementById('download-form');
      if (downloadForm !== null) {
        var maj = {{majic.organisation.pk}}
        console.log(maj)
        var lme = {{lme.organisation.pk}}
        console.log(lme)
        if (maj != undefined){
          organisation_pk = maj
        }
        else if(lme != undefined){
          organisation_pk = lme
        }
        
      }
    }
    getMap(organisation_pk)
    
  });

    (function() {
      $('input:radio').change(
        function(){
          // console.log(map)
          if(map){
            map.remove();
          }
          if ($(this).is(':checked')) {
            organisation_pk = $(this).val()
            getMap(organisation_pk)
          }
        });
      })();



</script>
