<!-- extends "idgo_admin:idgo_admin/base.html" -->
{% extends "idgo_lme_majic/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="alert alert-danger" style="display: none;" id="msg-validation-error"></div>
      <div class="col-md-offset-1 col-md-10" id="title" value='lme'>
      <h1>Espace LME</h1>
      <p>
        Les fichiers fonciers standards communément désignés fichiers LME
        comportent des renseignements relatifs aux propriétés bâties et non bâties.
        <br>
        L'accès et la délivrance des données cadastrales ont été organisés dès la création du cadastre. Outre les plans,
        dont une collection annuelle est mise gratuitement à la disposition des communes sous forme de papier ou dématérialisée,
        les collectivités peuvent se procurer les fichiers annuels actualisés des données foncières, disponibles à compter de 
        la fin du 1er semestre.
      </p>
      
        {% if lmes  %}
        <hr>
          {% if lmes.0.lme  %}
          <h4><b>DEMANDE D'EXTRACTION</b></h4>
          {% else %}
            <h4><b>DEMANDE D'ACCÈS EN COURS D'INSTRUCTION</b></h4>
          {% endif %}
          {% for lme in lmes %}
            {%if lme.lme%}
              <div class="row">
                <div class="col-sm-5">
                  <h5>Accès valide jusqu'au 
                    <b>{{lme.date_expiration_lme}}</b>
                  </h5>
                </div>
                <div class="col-sm-7">
                    <h5)>TERRITOIRE DE COMPÉTENCE</h5>
                    {% include "idgo_lme_majic/organisation/jurisdiction.html"%}
                </div>
              </div>
              <form method="POST" action="" id="download-form">
                {% csrf_token %}
                <input 
                  id="0-organisation-input"
                  name="organisation" 
                  type="hidden" 
                  value="{{lme.organisation.pk}}">
                
                <input id="secret" name="secret" type="hidden" value="test">
                <input id="mode" name="mode" type="hidden" value="">
                <input id="request_id" name="request_id" type="hidden" value="">
                <input id="download_file" name="download_file" type="hidden" value="true">

                <div class="buttons-on-the-right-side">
                  <button id="btn-download-form" type="submit" class="btn btn-primary">Demande de téléchargement</button>
                </div>
              </form>
              <div id='statut-id-{{ forloop.counter0 }}'></div>
            {%else%}
              La demande d'accès aux extractions est en cours de validation par les administrateurs.
            {%endif%}
          {% endfor %}
        {% endif %}
        <br>
        {% if lmes|length == 0%}
          {% if organisations  %}
            <div style="padding-bottom: 5em;">
              <hr>
              <div>
                <h4><b>DEMANDER L'ACCÈS AUX EXTRACTIONS</b></h4>
                <p>
                  Pour demander l'accès aux extractions LME, 
                  les documents suivants doivent être signés et ajoutés au formulaire ci-dessous.
                </p>
                <h5><b>TÉLÉCHARGER LES DOCUMENTS À SIGNER</b></h5>
                <div>
                  <a href="{% static "Declaration_du_Delegue_a_la_Protection_des_Donnees_Personnelles.pdf" %}" target="_blank"
                    class="card-link">Clause de confidentialité
                  </a>
                </div>
                <div>
                  <a href="{% static "Clause_de_confidentialite.pdf" %}" target="_blank"
                    class="card-link">Déclaration du Délégué à la Protection des Données Personnelles
                  </a>
                </div>
              </div>
            <br>
            <div>
              <form method="POST" action="" enctype="multipart/form-data" id="majic-lme-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-5">
                    {%if organisations|length == 1%}
                      <h5>ORGANISATION</h5>
                    {%else%}
                      <h5>ORGANISATIONS</h5>
                    {%endif %}
                    {{profile.jurisdiction}}
                    <div class="list-group" id="id_list_groups">
                      <fieldset id="fieldset-organisation">
                        {% for organisation in organisations %}
                          {% if organisation.jurisdiction  %}
                            <div>
                              <label class="form-check-label" for="organisation">
                                <input 
                                  class="form-check-input" 
                                  type="radio" 
                                  name="organisation" 
                                  id="{{ forloop.counter0 }}-organisation-input" 
                                  value="{{ organisation.pk }}"/>
                                  {{ organisation.legal_name }} - {{ organisation.jurisdiction }}
                              </label>
                            </div>
                          {%else%}
                          <b>{{ organisation.legal_name }}</b> - Le territoire de compétence n'est pas défini.
                          {% endif %}
                        {% endfor %}
                      </fieldset>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <h5)>TERRITOIRE DE COMPÉTENCE</h5>
                    {% if organisations  %}
                      {% include "idgo_lme_majic/organisation/jurisdiction.html" %}
                    {% endif %}
                  </div>
              
                  <br>
                  <div id="organisation-inputs">
                    <div class="col-sm-10" style="padding-left: 2em;">
                      <div class="row">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Ajouter la Clause de confidentialité signée</label>
                          <div>
                            <div id="list_file_clause"></div>
                            <input 
                              type="button" 
                              class="btn btn-primary" 
                              id="loadFileXml" 
                              value="Parcourir..." 
                              onclick="document.getElementById('fileClause').click();" />
                            <input type="file" style="display:none;" id="fileClause" name="fileClause"/>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Ajouter la Déclaration du Délégué à la Protection des Données Personnelles signée</label>
                          <div>
                            <div id="list_file_declaration"></div>
                            <input 
                              type="button" 
                              class="btn btn-primary" 
                              id="loadFileXml" 
                              value="Parcourir..." 
                              onclick="document.getElementById('fileDeclaration').click();" />
                            <input type="file" style="display:none;" id="fileDeclaration" name="fileDeclaration"/>
                          </div>
                        </div>
                      </div>
                      <br>
                      <input id="lme" name="lme" type="hidden" value="true">
                      <div id="button-submit" class="buttons-on-the-right-side">
                        <button type="submit" class="btn btn-primary">Envoyer la demande</button>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          
            </div>
          {% endif %}
        {% endif %}
    </div>
  </div>
</div>
<script>
  function check_cookies(){
    var cookieExtraction = checkCookie('extraction-lme');
    var request_id = 0;
    if (cookieExtraction != false) {
      let secret = cookieExtraction.substring(0, 6)
      request_id = cookieExtraction.split("request_id=")[1];
      response_html = response_ok(cookieExtraction.substring(6), secret, request_id)
      set_response(response_html)
    }
    return request_id;
  }
</script>

{% endblock main %}
